{"openapi":"3.0.3","info":{"title":"Geo Location API","description":"This API provides the geo location from cities.<br><table>\n  <thead>\n    <tr>\n      <th>Version</th>\n      <th>Created By</th>\n      <th>Date</th>\n      <th>Changes</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>1.0.0</td>\n      <td>Edu</td>\n      <td>2021-02-01</td>\n      <td>First version of the API</td>\n    </tr>\n  </tbody>\n</table>","contact":{"name":"Created by me","url":"https://mywebsite.com","email":"contact@email.com"},"version":"1;2021-02-01","extensions":{"x-my-test":["myvalue"]}},"servers":[{"url":"https://myhost.dev/","description":"dev"},{"url":"https://myhost.hml","description":"hml"},{"url":"https://myhost.prod","description":"prod"}],"tags":[{"name":"geo-location-controller","description":"Geo Location Controller"}],"paths":{"/geo/city/{id}":{"get":{"tags":["geo-location-controller"],"summary":"Find the geo location from city","operationId":"readGeoLocationByCityIdUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoLocation"}},"*/*":{"schema":{"$ref":"#/components/schemas/GeoLocation"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"x-client-key":["global"]}]}}},"components":{"schemas":{"GeoLocation":{"title":"GeoLocation","type":"object","properties":{"cityId":{"type":"integer","format":"int64"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}}},"securitySchemes":{"x-client-key":{"type":"apiKey","name":"x-client-key","in":"header"}}}}